<div class="row　center">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <h1 class="text-center">登録情報編集</h1>

    <%= form_for @customer,:url => {:action => :update} do |f| %>

      <table class="table">
        <tr>
          <th>名前</th>
          <td> (姓)   <%= f.text_field :last_name_kanji %></td>
          <td> (名)   <%= f.text_field :first_name_kanji %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td>(セイ) <%= f.text_field :last_name_kana %></td>
          <td>(メイ) <%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_area :email %></td>
          <td></td>
        </tr>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td><%= f.number_field :postal_code %></td>
          <td></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_area :address %></td>
          <td></td>
        </tr>
        <tr>
          <th>電話番号(ハイフンなし)</th>
          <td><%= f.number_field :tel %></td>
          <td></td>
        </tr>
      </table>

      <div class="text-center">
        <span><%= f.submit '編集内容を保存する', class: "btn btn-success"%></span>
        <span><%= link_to "退会する" , public_path(@customer), class: "btn btn-danger" %></span>
      </div>
    <% end %>
    <%= link_to "Back", :back %>
  </div>

<div class="col-md-2"></div>
</div>