<div class="col-xs-12">
<h1>マイページ</h1>

<div>
  <span>登録情報</span>
  <span><%= link_to edit_public_customer_path(@customer) do%>
        <span class="col-xs-3 btn btn-default glyphicon glyphicon-wrench">
        </span> 編集する
       <% end %>
  </span>
  <span>パスワードを変更する</span>
</div>


<table border="1">
    <tr>
      <th>氏名</th>
      <th><%= @customer.last_name_kanji %><%= @customer.first_name_kanji %></th>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.last_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.tel %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
</table>

<div>
  <span>配送先</span>
  <span><%= link_to public_shippings_path(@customer) do%>
        <span class="col-xs-3 btn btn-default glyphicon glyphicon-wrench">
        </span>
        一覧を見る
       <% end %>
   </span>
</div>

<div>
  <span>注文履歴</span>
  <span><%= link_to public_orders_path(@customer) do%>
        <span class="col-xs-3 btn btn-default glyphicon glyphicon-wrench">
        </span>
        一覧を見る
       <% end %></span>
</div>

</div>