<div class="row">
      <div class="col-md-6 mr-auto">
        <div class="text-center">
          <h2>マイページ</h2>
        </div>

      <div class="text-center">
        <h4>
        <span class="">登録情報</span>
        <span class=""><%= link_to "編集する",edit_public_customer_path(@customer), class: "btn btn-primary btn-outline-danger my-1" %></span>
        <span><%= link_to "パスワードを変更する", edit_public_customer_path(@customer), class: "btn btn-primary btn-outline-danger my-1" %></span>
        </h4>
      </div>

      <div class="row">
      <table class="table table-hover table-inverse">
          <tr>
              <td>氏名:</td>
              <td>
                 <%= @customer.last_name_kanji %>
                 <%= @customer.first_name_kanji %>
              </td>
          </tr>
          <tr>
              <td>カナ:</td>
              <td>
                <%= @customer.last_name_kana %>
                <%= @customer.first_name_kana %>
              </td>
          </tr>
          <tr>
              <td>郵便番号:</td>
              <td>
                <%= @customer.postal_code %>
              </td>
          </tr>
          <tr>
              <td>住所:</td>
              <td>
                <%= @customer.address %>
              </td>
          </tr>
          <tr>
              <td>電話番号:</td>
              <td>
                <%= @customer.tel %>
              </td>
          </tr>
          <tr>
              <td>メールアドレス:</td>
              <td>
                <%= @customer.email %>
              </td>
          </tr>
        </table>
      </div>

        <div class="text-center">
          <%= link_to "配送先一覧を見る", public_shippings_path(current_customer), class: "btn btn-primary btn-outline-danger my-1" %>

          <%= link_to "注文履歴一覧を見る", public_orders_path(current_customer), class: "btn btn-primary btn-outline-danger my-1" %>
        </div>
</div>

