<div class="col-xs-12">

<h1>マイページ</h1>

<table>
  <th>登録情報</th>
    <td></td>
    <td>
      <%= link_to edit_public_customer_path(@customer) do %>
        <span class="btn btn-primary">編集する</span>
      <% end %>
    </td>
    <td></td>
    <td>
      <%= link_to edit_public_customer_path(@customer) do %>
        <span class="btn btn-primary">パスワードを変更する</span>
      <% end %>
    </td>
</table>

<table border="col-xs-10" width="700" height="300" >
    <tr>
      <th width="200">氏名</th>
      <th><%= @customer.last_name_kanji %><%= @customer.first_name_kanji %></th>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.tel %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
</table>

<table>
  <tr>
    <th>配送先</th>
　　 <td class="btn btn-primary col-xs-2">
      <span>一覧を見る</span>
      <%= link_to public_shippings_path(@customer) do%><% end %>
    </td>
  </tr>
  <tr>
    <th>注文履歴</th>
    <td class="btn btn-primary col-xs-2">
      <span>一覧を見る</span>
      <%= link_to public_orders_path(@customer) do%><% end %>
  </tr>

</div>