<h1>配送先編集</h1>

<%= form_for @shipping,:url => {:action => :update} do |f| %>

<table>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_area :address %></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td><%= f.text_field :name %></td>
    </tr>
</table>
<%= f.submit '登録する', class:"btn btn-primary col-xs-2" %>

<% end %>