<div class="row　center">
  <div class="col-md-6">
    <h1>配送先登録</h1>

    <%= form_for @shipping,:url => {:action => :create} do |f| %>

      <table class="table">
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td></td>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td></td>
          <td><%= f.text_area :address %></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td></td>
          <td><%= f.text_field :name %></td>
        </tr>
      </table>
        <%= f.submit '登録する', class: "btn btn-success col-xs-2" %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h1>配送先一覧</h1>
    <table class="table" >
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
    <% @shippings.each do |shipping| %>
    <tr>
      <th><%= shipping.postal_code %></th>
      <th><%= shipping.address %></th>
      <th><%= shipping.name%></th>
      <th><%= link_to "編集する", edit_public_shipping_path(shipping), class: "btn btn-primary" %></th>
    </tr>
    <% end %>
    </table>
  </div>
</div>