<div class="row">
<p class="admin-page-title-item-new">商品詳細</p>
<div class="col-xs-4 col-xs-offset-1">
    <%= attachment_image_tag @item, :image, class: "img-square", fallback: "img/no_image.jpg", size:"300x300" %>
</div>
<div class="col-xs-6">
    <div class="row admin-item-show">
        <label class="col-sm-4">商品名</label>
        <div class="col-sm-8">
        <%= @item.name %>
        </div>
    </div>
    <div class="row admin-item-show">
        <label class="col-sm-4">商品説明</label>
        <div class="col-sm-8">
        <%= @item.introduction %>
        </div>
    </div>
    <div class="row admin-item-show">
        <label class="col-sm-4">ジャンル</label>
        <div class="col-sm-8">
        <%= @item.genre.name %>
        </div>
    </div>
    <div class="row admin-item-show">
        <label class="col-sm-4">税込価格(税抜価格)</label>
        <div class="col-sm-8">
        <%= (@item.price.to_i*1.10).floor %>(<%= @item.price %>)円
        </div>
    </div>
    <div class="row admin-item-show">
        <label class="col-sm-4">販売ステータス</label>
        <div class="col-sm-8">
        <%= @item.sales_status %>
        </div>
    </div>
    <div class="text-right fixed-bottom">
        <%= link_to "編集する", edit_admin_item_path, {class: 'btn btn-primary'} %>
    </div>
</div>
</div>