<div class="row">
  <div class="col-md-3"></div>



   <div class="col-md-6">
    <div class="text-center">

     <h2>パスワード編集画面</h2>
     <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
             <%= render "devise/shared/error_messages", resource: resource %>


          <table class="table">
              <tr>
                <td>
                   <%= f.label :email %><br />
                   <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
                   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                   <% end %>
                 </td>
              </tr>
              <tr>
                <td>
                   <%= f.label :現在のパスワード %> <i></i><br />
                   <%= f.password_field :current_password, autocomplete: "" %>
                </td>
               </tr>
              <tr>
                <td>
                   <%= f.label :新しいパスワード %> <i></i>  <br />
                   <%= f.password_field :password, autocomplete: "new-password" %>
                   <% if @minimum_password_length %>
                   <br />
                   <em><%= @minimum_password_length %> characters minimum</em>
                   <% end %>
                </td>
              </tr>
              <tr>
                <td>
                   <%= f.label :新しいパスワードを再入力 %><br />
                   <%= f.password_field :password_confirmation, autocomplete: "新しいパスワード" %>
                </td>
               </tr>
               <br>
               <tr>
                 <td>
                  <br>
                   <%= f.submit "パスワードを変更する", class: "btn btn-success" %>
                 </td>
               </tr>

               <% end %>
               </table>
               

              <h3>アカウントを削除する</h3>

              <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
              <%= link_to "Back", :back %>

    </div>
</div>
<div class="col-md-3"></div>
</div>
