<P class="admin-page-title-customer">
  <%= @customer.last_name_kanji %><%= @customer.first_name_kanji %>さんの会員情報編集
</P>
<div class="row">

<%= form_for [:admin, @customer] do |f| %>

<div class="row">
<div class="col-xs-2">
    <div class="admin-customer-edit">顧客ID</div>
    <div class="admin-customer-edit">氏名</div>
    <div class="admin-customer-edit">フリガナ</div>
    <div class="admin-customer-edit">郵便番号</div>
    <div class="admin-customer-edit">住所</div>
    <div class="admin-customer-edit">電話番号</div>
    <div class="admin-customer-edit">メールアドレス</div>
    <div class="admin-customer-edit">会員ステータス</div>
    <div>
      <%= f.submit "変更を保存する", {class: 'btn btn-primary admin-customer-edit'} %>
    </div>
</div>
<div class="col-xs-6">
  <div class="admin-customer-detail-data">
    <%= @customer.id %>&ensp;<%= @customer.is_deleted %>
  </div>
  <div class="admin-customer-detail-data">
    <%= f.text_field :last_name_kanji %>&emsp;<%= f.text_field :first_name_kanji %>
  </div>
  <div class="admin-customer-detail-data">
    <%= f.text_field :last_name_kana %>&emsp;<%= f.text_field :first_name_kana %>
  </div>
  <div class="admin-customer-detail-data">
    <%= f.text_field :postal_code %>
  </div>
  <div class="">
    <%= f.text_area :address, {class: 'admin-customer-address'} %>
  </div>
  <div class="admin-customer-tel">
    <%= f.text_field :tel %>
  </div>
  <div class="admin-customer-detail-data">
    <%= f.text_field :email %>
  </div>
  <div>
    <label class="admin-customer-detail-data">
      <%= f.radio_button :is_deleted, true %>有効
    </label>
    <label>
      <%= f.radio_button :is_deleted, false %>退会済み
    </label>
  </div>
  
</div>
</div>
<% end %>
</div>