<p>会員一覧</p>
<div>
	<table>
		<thead>
			<tr>
				<th>会員ID</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<%= @customers.each do |customer| %>
			<tr>
				<td>
					<%= customer.id %>
				</td>
				<td>
					<%= link_to customer_path do %>
					<%= customer.last_name_kanji %><%= customer.first_name_kanji %>
					<% end %>
				</td>
				<td>
					<%= customer.email %>
				</td>
				<td>
					<%= customer.is_deleted %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>