<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<p class="admin-page-title ">会員一覧</p>

	<table class="table table-hover">
		<thead>
			<tr class="active">
				<th>会員ID</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% @customers.each do |customer| %>
			<tr>
				<td>
					<%= customer.id %>
				</td>
				<td class="admin-item-name">
					<%= link_to admin_customer_path(customer) do %>
					<%= customer.last_name_kanji %><%= customer.first_name_kanji %>
					<% end %>
				</td>
				<td>
					<%= customer.email %>
				</td>
				<td>
					<%= customer.is_deleted %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>
</div>