<span>注文履歴詳細</span>
<div>
	<p>購入者</p>
	<p>配送先</p>
	<P>支払方法</P>
	<P>注文ステータス</P>
</div>
<div>
	<span>
		<%= link_to customer_path(@order) do %>
		<%= @order.customer.last_name_kanji %>
		<%= @order.customer.first_name_kanji %>
		<% end %>
	</span>
	<span>
		<%= @order.customer.postal_code %>
		<%= @order.customer.address %>
	</span>
	<span>
		<%= @order.customer.pay_method %><%= f.submit %>
	</span>
	<span>
		<%= select :status, order.status.keys.to_a, {class: 'form-control'} %>
	</span>
</div>
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
	</thead>
	<tbody>
		<%= @order_item.each do |order_item| %>
		<tr>
			<td>
				<%= order_item.name %>
			</td>
			<td>
				<%= order_item.price %>
			</td>
			<td>
				<%= order_item.amount %>
			</td>
			<td>
				<%= order_item.price.to_s*order_item.amount.to_s %>
			</td>
			<td>
				<%= select :making_status, order.making_status.keys.to_a, {class: 'form-control'} %><%= f.submit %>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<div>
		<p>商品合計</p>
		<p>送料</p>
		<p>請求金額合計</p>
	</div>
	<div>
		<span>
			<%= @order.total_due %>円
		</span>
		<span>
			<%= @order.postage %>円
		</span>
		<span>
			<%= @order.total_due+@order.postage %>円
		</span>
	</div>
</div>