<p>ジャンル一覧・追加</p>
<div>
	<%= form_for @genre,:url => {:action => :create} do |f| %>
	<div>
		<label>ジャンル</label>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.select :valid_status, Genre.valid_statuses.keys.to_a, {class: 'form-control'} %>
	</div>
	<div>
		<%= f.submit 'ジャンル' %>
	</div>
	<% end %>
</div>
<div>
	<% @genres.each do |genre| %>
	<table>
		<thead>
			<tr>
				<th>ジャンル</th>
				<th>状態</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<%= genre.name %>
				</td>
				<td>
					<%= genre.valid_status %>
				</td>
				<td>
					<%= link_to "編集する",edit_admin_genre_path(genre) %>
				</td>
			</tr>
		</tbody>
	</table>
	<% end %>
</div>