<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<p class="admin-page-title-genre">ジャンル一覧・追加</p>
<div class="genre-new row">
	<%= form_for @genre,:url => {:action => :create} do |f| %>
	<div class="col-xs-2">
		<label>ジャンル</label>		
	</div>
	<div class="col-xs-3">
		<%= f.text_field :name %>
	</div>
	<div class="col-xs-2">
		<label>
			<%= f.radio_button :valid_status, 1 %>有効
		</label>
		<label>
			<%= f.radio_button :valid_status, 0 %>無効
		</label>
	</div>
	<div class="col-xs-2">
		<%= f.submit 'ジャンル' %>
	</div>
	<% end %>
</div>
<div>
	<% @genres.each do |genre| %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ジャンル</th>
				<th>状態</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<%= genre.name %>
				</td>
				<td>
					<%= genre.valid_status %>
				</td>
				<td>
					<%= link_to "編集する",edit_admin_genre_path(genre) %>
				</td>
			</tr>
		</tbody>
	</table>
	<% end %>
</div>
</div>
</div>