<div class="row">
  <div class= "col-auto">
    <h4>会員の方はこちらからログイン</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table class="table">
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%- if controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
            <% end %>
          </td>
        </tr>
      </table>

        <div class="text-center">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
    <% end %>

    <h4>登録がお済みでない方</h4>
    <%= render "devise/shared/links" %>
    <div class="text-right"><%= link_to "管理者ログインページ", administrator_session_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>