<h2>注文情報確認</h2>

<div class="row">
	<div class = "col-xs-9">
		<!--注文商品の情報-->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					
				</tr>
				<% current_customer.cart_items.each do |cart_item| %>
					<tr>
						<td>
							<%= attachment_image_tag cart_item.item, :image, size: "50×50", fallback: "img/no-image-mini.jpg" %>
							<%= cart_item.item.name %>
						</td>
						<td><%= (cart_item.item.price.to_i * 1.1).floor %></td>
						<td><%= cart_item.amount %></td>
						<td><%= (cart_item.item.price.to_i * 1.1).floor * cart_item.amount %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class = "col-xs-3">
		<!--金額の情報-->
		<table class="table table-hover table-inverse">
			<tr>
		    	<th>送料</th>
		    	<td>800</td>
		    </tr>
		    <tr>
		    	<th>商品合計</th>
		    	<td><%= @total_price %></td>
		    </tr>
		    <tr>
		    	<th>請求金額</th>
		    	<td><%= @total_price + 800 %></td>
		    </tr>
		</table>
	</div>
</div>

<div class="row">
	<div class = "col-xs-9">
		<strong>お支払い方法</strong>
		<%= session[:pay_method] %><br>
		<strong>お届け先</strong>
		<!-- うけとった文字列が8けたより少なければ -->
		<% if  session[:address].length < 8 %>
			<%= @address.postal_code + "  " + @address.address + "  " + @address.name %>
		<!-- 受け取った文字列がそれ以外なら -->
		<% else %>
			<%= session[:address] %>
		<% end %>
	</div>
</div>

<%=link_to "購入を確定する", public_orders_create_order_path, class: "btn btn-success" %>