<div class="row">
	<h4>注文情報入力</h4>
		<%= flash[:order_new] %>
</div>

<div class="row">
	<div class= "col-xs-6">
		<h4>支払い方法</h4>
			<%= form_tag(public_orders_path, method: :post) do %>
				<%= radio_button_tag :pay_method, :クレジットカード %>
				<%= label_tag :pay_method, "クレジットカード"  %>
				<%= radio_button_tag :pay_method, :銀行振り込み %>
				<%= label_tag :pay_method, "銀行振り込み"  %>

		<h4>お届け先</h4>

				<% address = current_customer.postal_code + current_customer.address + current_customer.last_name_kanji + current_customer.first_name_kanji %>
				<%= radio_button_tag :select, :my_address %>
				<%= label_tag :select, "ご自身の住所" %><br>
				<%= address %><br>
				<%= radio_button_tag :select, :select_address %>
				<%= label_tag :select, "登録済み住所から選択" %>
				<%= select_tag :address, options_for_select(@shippings.map do |ship|
			          [ship.postal_code + "  " + ship.address + "  " + ship.name, ship.id]
			            end) %><br>
			    <%= submit_tag "確認画面へ進む", class: "btn btn-primary" %>
			<% end %>
	</div>

	<div class= "col-xs-6">
			<%= form_for(@shipping, url: public_orders_create_shipping_path) do |f| %>

				<div class="field">
					<%= f.label "郵便番号（ハイフンなし）" %>
					<%= f.text_field :postal_code %>
				</div>

				<div class="field">
					<%= f.label "住所" %>
					<%= f.text_field :address %>
				</div>

				<div class="field">
					<%= f.label "宛名" %>
					<%= f.text_field :name %>
				</div>

				<div class="actions">
					<%= f.submit "新規登録", class: "btn btn-primary" %>
				</div>

			<% end %>
	</div>