<div class= "col-xs-3">
	<%= render 'layouts/sidebar' %>
</div>

<div class="col-xs-9">
	<%= attachment_image_tag(@item, :image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
	<%= @item.name %>
	<%= @item.introduction %>
	<%= @item.price %>
</div>