<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" style="background-color:#cd853f;">
      <% if request.fullpath.include? "admin"  %>
        <%= render 'layouts/admin_header' %>
      <% else%>
        <%= render 'layouts/customers_header' %>
      <% end %>
    </header>
    
    <main>
      <div style="margin-bottom: 100px">
      </div>
      <div class="container">
          <%= yield %>
      </div>
    </main>

    <footer class="navbar">
      <div class="container text-right">
        <p>©︎2020 F4</p>
      </div>
    </footer>
  </body>
</html>
