<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" style="background-color:#cd853f;">
      <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <h3 style= "color: white;">NaganoCake</h3>
          </nav>
        <% if customer_signed_in? %>
          <nav class="nav navbar-nav navbar-brand-center">
              <span style= "color: white;">ようこそ、<%= current_customer.last_name_kana %><%= current_customer.first_name_kana %>さん！</span>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "マイページ", public_customer_path(current_customer) %></li>
              <li><%= link_to "商品一覧", public_items_path %></li>
              <li><%= link_to "カート", public_cart_items_path %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
            </ul>
          </nav>
        <% else %>
          <nav class="nav navbar-nav navbar-brand-center">
              <span style= "color: white;">ようこそ、ゲストさん！</span>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "商品一覧", public_items_path %></li>
                <li><%= link_to "新規登録", new_customer_registration_path %></li>
                <li><%= link_to "ログイン", new_customer_session_path %></li>
            </ul>
          </nav>
        <% end %>
      </div>
    </header>
    
    <main>
      <div style="margin-bottom: 100px">
      </div>
      <div class="container">
          <%= yield %>
      </div>
    </main>

    <footer class="navbar">
      <div class="container text-right">
        <p>©︎2020 F4</p>
      </div>
    </footer>
  </body>
</html>
